<html>
<head>
    <title>History | Online Code Compile</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">
    <link href="/static/css/background.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <style type="text/css">
        pre {
          overflow: auto;
          word-wrap: normal;
          white-space: pre;
        }
        /*.code-history-block:nth-of-type(odd) {
            background: burlywood !important;
            width: 800px;
        }
        .code-history-block:nth-of-type(even) {
            background: darkgrey !important;
            width: 800px;
        }*/
    </style>
</head>

<body>
    <div style="margin-left: 10px;">
        {% if no_data %}
            <b> No History Found</b>
        {% else %}
            {% for lang, code, inp in history_list %}
              <div class="code-history-block" style="padding-bottom:50px;">
                <b>Language:  {{lang}}</b><br>
                <pre style="width:800px"><code>{{code}}</code></pre>
                {% if inp %}
                    <b>Custom Input: </b>
                    <pre style="width:400px;" class="nohighlight">{{inp}}</pre>
                {% endif %}
              </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
